{% block context_setup -%}
# CONTEXT
{% include 'generic/prowler_studio_context.txt' %}
{%- endblock %}

{% block task_definition -%}
# TASK
Extract the audit steps from the user check description. You should extract the steps that will be followed in the check programmatically at a high level to successfully audit the proposed request.
You MUST NOT take care about setting up the session or authentication or how findings are going to be stored or reported, ONLY the logic to see if the audited resource is compliant or not.
{%- endblock %}
{% block input -%}
# INPUT
**Check Description**:
{{ check_description }}.
{%- endblock %}
