{% block context_setup -%}
# CONTEXT
{% include 'generic/prowler_studio_context.txt' %}
{%- endblock %}

{% block task_definition -%}
# TASK
You have to decide if the user prompt is a valid prompt to create a check or not.

## VALID PROMPTS
This is a list with the types of prompts that are valid to create a check:
- Prompt related with cloud security that you consider is a valid prompt to create a check.
- Prompts asking for a check that is already implemented in Prowler with some modifications.

## INVALID PROMPTS
This is a list with the types of prompts that are not valid to create a check:
- Prompts that are not related to security or compliance.
- Prompts that request for two or more checks.
- Prompts that are not related to the supported providers. The supported providers are:
{%- for provider in prowler_providers %}
    - "{{ provider }}"
{%- endfor %}
{% block output_format -%}
## OUTPUT FORMAT
- If the user prompt is a valid prompt to create a check, JUST return "yes", a single word, NOTHING ELSE.
- If the user prompt is not a valid prompt to create a check, return in a friendly way why the user prompt is not valid.
{%- endblock %}
{%- endblock %}

{% block input -%}
# INPUT
**User prompt**:
{{ user_prompt }}
{%- endblock %}
