{% block context_setup -%}
# CONTEXT
{% include 'generic/prowler_studio_context.txt' %}
{%- endblock %}

{% block task_definition -%}
# TASK
Generate the Prowler check metadata based on the provided check description as an input.
The metadata of the check is a "CheckMetadata" object, at the end of this message you can see more information about the object schema, with all the fields and descriptions.
Here are the most similar checks that you can use as a reference:
---------------------------------------------------------------
{% for check in relevant_related_checks_metadata %}
```json
{{ check | tojson }}
```
---------------------------------------------------------------
{%- endfor %}
{% block output_format %}
## OUTPUT FORMAT
- The output MUST be a valid JSON object.
- The attribute "CheckID" MUST be {{ check_name }}.
- The attribute "Provider" MUST be {{ prowler_provider }}.
{%- endblock %}
{%- endblock %}
{% block input -%}
# INPUT
**Check Description**:
{{ check_description }}.
{%- endblock %}
