{% block context_setup -%}
# CONTEXT
{% include 'generic/prowler_studio_context.txt' %}
{%- endblock %}

{% block task_definition -%}
# TASK
Design the check name based on the check description. The check name should follow the Prowler check naming convention: {{ prowler_service }}_<best_practice>.
Here you can consult some examples of check names that are more similar to the extracted security description:
{%- for check_id in relevant_related_checks %}
- "{{ check_id }}"
{%- endfor %}
{% block output_format -%}
## OUTPUT FORMAT
You MUST return a just the check ID.
{%- endblock %}
{%- endblock %}
{% block input -%}
# INPUT
**Check Description**:
{{ check_description }}
{%- endblock %}
