{% block context_setup -%}
# CONTEXT
{% include 'generic/prowler_studio_context.txt' %}
{%- endblock %}

{% block task_definition -%}
# TASK
Based on the audit steps, identify the specific SDK calls and attributes that need to be set up in the service class but are currently missing.
FOCUS ONLY on data that can be extracted from the provider, other data directly related with the check logic part such as a range of days, concrete tags, request value specifications, etc. DO NOT have to be included in the service class.
You MUST NOT take care about setting up the session or authentication or how findings are going to be stored or reported, ONLY in SDK calls and how to get and store the needed data.
{% block output_format -%}
## OUTPUT FORMAT
Provide a detailed list of the SDK calls or attributes that need to be extracted/stored in the service class. Include code snippets if necessary.
This are things that are FORBIDDEN to include in the service class:
- Session or authentication setup.
- Whatever related with findings.
- Any logic that is not related to the SDK calls or attributes.
{%- endblock %}
{%- endblock %}
{% block input %}
# INPUT
**Audit Steps**:
{{ audit_steps }}
**Service Class Code**:
```python
{{ service_class_code }}
```
{%- endblock %}
