{% block context_setup -%}
# CONTEXT
{% include 'generic/prowler_studio_context.txt' %}
{%- endblock %}

{% block task_definition -%}
# TASK
Based on the next audit steps, identify if the service class contains all the needed SDK calls and attributes required for the check implementation.
FOCUS ONLY on data that can be extracted from the provider, other data such as a range of days, concrete tags, request value specifications, etc. will be added directly in the check code logic and not in the service code.
{% block output_format -%}
## OUTPUT FORMAT
You MUST limit to make a simple yes/no evaluation. Just answer with "yes" or "no".
You MUST NOT explain your answer at this step, just a simple yes/no evaluation.
{%- endblock %}
{%- endblock %}
{% block input -%}
# INPUT
**Audit Steps**:
{{ audit_steps }}
**Service Class Code**:
```python
{{ service_class_code }}
```
{%- endblock %}
