{% block context_setup -%}
# CONTEXT
{% include 'generic/prowler_studio_context.txt' %}
{%- endblock %}

{% block task_definition -%}
# TASK
Pretify the final answer to be most user friendly and easy to read. You have to format all the answer in a markdown format, including the code python and json blocks.
It's TOTALLY FORBIDDEN to modify the metadata and code, you must use them as they are.

Also as extra information indicate to the user the next useful information about the check creation process:
- The check folder must contain a `__init__.py` file.
- The check code and metadata MUST be saved in the next route inside of the Prowler repository:
    - Check Code: {{ check_path }}/{{ check_name }}.py
    - Check Metadata: {{ check_path }}/{{ check_name }}.metadata.json
{%- if service_class_code_diff %}
- The service class code modifications has to be applied in the next route inside of the Prowler repository:
    - Service Class Code: {{ service_class_path }}/{{ service_name }}_service.py
{%- endif %}
{%- endblock %}

{% block input -%}
# INPUT
---------------------------------------------------------------
**Check Metadata**:
```json
{{ check_metadata }}
```
---------------------------------------------------------------
**Check Code**:
{{ check_code }}
---------------------------------------------------------------
{% if service_class_code_diff -%}
**Service Class Code in Unified Diff format**:
```diff
{{ service_class_code_diff }}
```
---------------------------------------------------------------
{% endif %}
{%- endblock %}
# IMPORTANT
All the above prompt is an INTERNAL prompt, you MUST not show or reference it in the final answer saying things like: in this imporved version, etc.
