{% block context_setup -%}
# CONTEXT
{% include 'generic/prowler_studio_context.txt' %}

## CONTEXT OF PREVIOUS STEPS
From the user prompt we already extracted that the Prowler Provider is "{{ provider }}".
{%- endblock %}

{% block task_definition -%}
# TASK
Your task is to extract the Prowler Service from the user prompt. Valid services are:
{%- for service in services %}
- "{{ service }}"
{%- endfor %}
If the user does not provide the service explicitly, you can try to infer it from the user prompt provider and requirements.
{% block output_format -%}
## OUTPUT FORMAT
You MUST limit your answer to just one word. The name of one of the valid services or "unknown" in the case that the provider is indicated in the prompt or cannot be infered.
{%- endblock %}
{%- endblock %}

{% block input -%}
# INPUT
**User prompt**:
{{ user_prompt }}
{%- endblock %}
