{% block context_setup -%}
# CONTEXT
{% include 'generic/prowler_studio_context.txt' %}
{%- endblock %}

{% block task_definition -%}
# TASK
You have to decide if the user prompt is a valid prompt to create a check or not.

## VALID PROMPTS
- Requests that contains a security assesment that can be audited in an automated way for one of the supported providers.
- Requests that ask for a check that is already implemented in Prowler with some modifications.

## INVALID PROMPTS
- Requests that are not related to security or compliance.
- Requests that request for two or more checks.
- Requests that are not related to the supported providers. The supported providers are:
{%- for provider in prowler_providers %}
    - "{{ provider }}"
{%- endfor %}
{% block output_format -%}
## OUTPUT FORMAT
- If the user prompt is a valid prompt to create a check, JUST return "yes", a single word, NOTHING ELSE.
- If the user prompt is not a valid prompt to create a check, return in a friendly way why the user prompt is not valid.
{%- endblock %}
{%- endblock %}

{% block input -%}
# INPUT
**User prompt**:
{{ user_prompt }}
{%- endblock %}
